@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    width: 1080px;
    left: 0;
    right: 0;
    margin:auto;
    position: absolute;
    /*overflow-x: hidden;*/
}

body {
    width: 1080px;
    margin: 0;
    padding: 0;
    overflow:auto;
}

ul {
    list-style-type: none;
    margin: 40px 90px;
    padding: 0;
    overflow: hidden;
}

li a {
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li {
    float: left;
    font-family:Arial,Helvetica,sans-serif;
}

.menu {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -1.5px;
}

.rightPart{
    float: right;
    font-size: 14px
}

.rightPart a{
    color: #cacaca;
}

.rightPart a:hover {
    color: black;
}

.firstPart {
    width: 1080px;
    height: 609px;
    text-align: center;
}

.lawyer {
    background-image: url("images/lawyer.jpg");
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size:100% 100%;
    width: 1080px;
    height: 609px;
    margin: 0;
    padding: 0;
    filter: brightness(80%);
    position: absolute;
}

.lawyerWindow {
    background-color: #0b3c5d;
    width: 330px;
    height: 370px;
    left: 95px;
    top: 120px;
    position: relative;
    text-align: left;
    filter: brightness(100%);
}

.firstLine {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    padding-top: 45px;
    padding-left: 40px;
}

.secondLine {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 30px;
    padding-top: 4px;
    padding-left: 40px;
    line-height: 95%;
}

.thirdLine {
    color: #f9dc16;
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding-top: 15px;
    padding-left: 40px;
}

input {
    margin-top: 20px;
    margin-left: 40px;
    width: 235px;
    height: 45px;
    border: none;
    font-size: 24px;
    background-color: white;
    filter: brightness(100%);
    font-family: "Montserrat", sans-serif;
}

button {
    margin-top: 25px;
    margin-left: 40px;
    background-color: #fadd16;
    color: black;
    width: 135px;
    height: 40px;
    border: none;
    filter: brightness(100%);
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    letter-spacing: 0.5px;
}

.secondPart {
    width: 1080px;
    height: 350px;
    margin: 0;
    padding: 0;
}

.secondPart div {
    display: inline-block;
    width: 270px;
    height: 110px;
    padding-top: 100px;
    font-size: 0;
}

.secondPart h4 {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    letter-spacing: -0.5px;
}

.secondPart p {
    font-family:Arial,Helvetica,sans-serif;
    font-size: 12px;
    letter-spacing: -0.4px;
    color: gray;
}

.firstFeature {
    font-size: 0;
    margin-left: 85px;
}

.secondFeature {
    font-size: 0;
    margin-left: 50px;
}

.thirdFeature {
    font-size: 0;
    margin-left: 50px;
}

.thirdPart {
    width: 1080px;
    height: 310px;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.quote {
    top: 40%;
    left: 20.3%;
    font-size: 18px;
    font-weight: lighter;
    position: relative;
    color: black;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.4px;
}

.author{
    top: 38%;
    left: 41.5%;
    font-size: 12px;
    position: relative;
    color: #737373;
    font-family:Arial,Helvetica,sans-serif;
}

.author span {
    color: black;
}

.forthPart {
    width: 1080px;
    height: 720px;
    margin: 0;
    padding: 0;
}

.glasses {
    width: 1080px;
    height: 720px;
    background-size: cover;
    background-image: url(images/glasses.png);
    filter: grayscale(100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.2;
    position: absolute;
}

.grid {
    background-image: url("images/grid.png");
    opacity: 0.15;
    width: 280px;
    height: 450px;
    background-size: cover;
    position: absolute;
    display: inline-block;
}

.description {
    margin-top: 0;
    margin-left: 450px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.4px;
    font-size: 12px;
    color: gray;
}

.price {
    padding-left: 510px;
    margin-top: 0;
    padding-top: 50px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.4px;
}

.planPrice {
    font-family:Arial,Helvetica,sans-serif;
}

.basic {
    width: 280px;
    height: 450px;
    margin-left: 80px;
    margin-top: 80px;
    background-color: #f8f8f8;
    position: relative;
    float: left;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.4px;
}

.standard, .corporate {
    width: 280px;
    height: 450px;
    margin-left: 35px;
    margin-top: 80px;
    background-color: #f8f8f8;
    position: relative;
    float: left;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.4px;
}

.planName, .basic p, .standard p, .corporate p, .planPrice, .buy {
    text-align: center;
    position: relative;
}

.planName {
    margin-top: 60px;
}

.basic p, .standard p, .corporate p {
    line-height: 200%;
    font-size: 14px;
    color: gray;
}

.planPrice {
    margin-top: 35px;
    font-size: 24px;
}

.buy {
    background-color: #0b3b5b;
    color: white;
    position: relative;
    border: none;
    font-size:14px;
    margin-left: 75px;
    height: 50px;
}


.fifthPart {
    width: 1080px;
    height: 410px;
    display: inline-block;
}

.notebook {
    width: 1080px;
    height: 410px;
    background-image: url("images/notebook.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    background-position: 5% 50%;
    filter: grayscale(10%);
    position: absolute;
}

.notebookColor {
    width: 1080px;
    height: 410px;
    background-color: #033255;
    opacity: 0.85;
    position: absolute;
}

.advertise {
    text-align: center;
    position: relative;
    margin-top: 140px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.4px;
}

.firstAdv, .secondAdv {
    color: white;
    line-height: 40%;
}

.firstAdv {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -1.5px;
}

.secondAdv {
    font-size: 12px;
    font-family:Arial,Helvetica,sans-serif;
}

.try {
    font-size: 12px;
    height: 40px;
    width: 150px;
    background-color: #fadd16;
    margin-left: 5px;
}

.foot {
    width: 1080px;
    height: 250px;
    background-color: #1d2530;
    position: absolute;
}

.webName, .webAddress, .icons{
    text-align: center;
    position: relative;
}

.webName {
    margin-top: 80px;
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.4px;
    font-size: 13px;
}

.webAddress {
    color: gray;
    margin-top: 10px;
    font-size: 10px;
    font-family:Arial,Helvetica,sans-serif;
}

.icons {
    margin-top: 30px;
}

.icons a {
    text-decoration:none;
}

.icons img {
    width: 26px;
    height: 26px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

